@media only screen and (max-width: 1570px){
    .header-top-right p{
        display: none;
    }
}
@media only screen and (max-width: 1550px){
    .wrapper{
    grid-template-columns: repeat(4, 1fr);

    }
}
@media only screen and (max-width: 1190px){
    .wrapper{
    grid-template-columns: repeat(3, 1fr);

    }
}
@media only screen and (max-width: 1120px){
    .page-5{
        display: none;
    }
}
@media only screen and (max-width: 1025px){
    .container{
        width: 95%;
    }
    .header-filter-wrap{
        display: none;
    }
    .header-register-link{
        display: none;
    }
    .header-top-search-left{
        display: none;
    }
    .header-top-search-right{
        display: block;
    }
    .header-top-left{
        width: 220px;
    }
    .footer-top{
        flex-direction: column-reverse;
    }
    .footer-top-right{
        margin-bottom: 20px;
    }
    .container-footer{
        display: block;
    }
    .footer-bottom-right{
        margin-top: 10px;
    }
}
@media only screen and (max-width: 826px){
    .wrapper{
    grid-template-columns: repeat(2, 1fr);
    width: 98%;
    }
    .page-5{
    display: grid;
    }
}
@media only screen and (max-width: 700px){
    .header-top-btn{
        display: none;
    }
}
